.borde{
    justify-content: center;
     background-color: darkslateblue;
 }
 .text {
     color: aliceblue;
 justify-content: center;
 align-content: center;
 }
 .container-fluid {
     justify-content: center;
 }
 
 .carrusel {
     justify-content: center;
     width: auto;
     height: 200px;
 }
 .footer {
     background-color: darkslateblue;
 }
 .titulo{
     color: royalblue;
     align-content: center;
 }
 .col-3 { 
     background-color: darkslateblue;
 }